img
{

height: 300px;
width: 300px;
width: 83%;


padding: 20px;
margin-bottom: -20px;
margin-top: 10px;
margin-left:  auto;
margin-right: auto;

width: 95%;
    
    background-color: black;
    padding: 1px;
    margin-bottom: 1px;
    margin-top: 1px;
    margin-left:  1%;
}